/* Start coding here */
*{
    box-sizing: border-box;
    margin: 2%;
}

body, html {
    margin: 0;
    padding: 0;
  }

.travel-blog {
    background-color: rgb(146,170,189);
    color: rgb(24,59,86);
    height: 10vh;
    display: flex;
    align-items: center;
    border:none;
}

.travel-blog p {
    margin-left: 46px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    color: rgb(27, 62, 89);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog1,
.blog2{
    border: black solid;
    background-color: lightblue;
    width: 30vw;
}

footer{
    align-content: end;
}